[submodule "CA7_Writings_SciPaper"]
	path = CA7_Writings_SciPaper
	url = https://github.com/CA7Gang/CA7_Writings_SciPaper.git
[submodule "CA7_Writings_Worksheets"]
	path = CA7_Writings_Worksheets
	url = https://github.com/CA7Gang/CA7_Writings_Worksheets.git
